# Pandas

While NumPy can be used to import data, it is optimized around numerical data. Many data sets include categorical variables. For these data sets, it is best to use a library called `pandas`, which focuses on creating and manipulating data frames.

### Read data
With `pandas` imported, we can read in .csv files with the `pandas` function `read_csv()`.

In that function, we can specify the file we want to use with a URL or with the path to a local file as a string.

This saves the data in a structure called a DataFrame.

We are going to be using data on [long term average precipitation and temperature values in Boston from ~1980s-2010 from NOAA](https://www.ncei.noaa.gov/data/normals-monthly/doc/NORMAL_MLY_documentation.pdf).

In [87]:
filename = ""
# filename = "https://raw.githubusercontent.com/ENVS110a-SP23/python/main/data/boston_precip_temp.csv"

Our data is now saved as a data frame in Python as the variable `df`. With the data now in the environment, we can take a look at the first few rows with `df.head()`.

We can see that this data frame has several different columns, with information about stations, precipitation and temperature.

If you have an excel file you can also `pd.read_excel()`. You can specify the sheet name, as well. The default is the first sheet, and you can provide either a single sheet name, or a list of sheets you want as an alternative, which gives you a dictionary of pandas DataFrames.

If you say `sheet_name=None`, you will get all of the sheets back.

In [5]:
data_dir = ""


# xlsx = "https://raw.githubusercontent.com/ENVS110a-SP23/python/main/data/boston_precip_temp.xlsx"

In [4]:
# pd.read_excel(xlsx)

In [3]:
pd.read_excel(xlsx, sheet_name=['Sheet1','Sheet2'])

In [ ]:
pd.read_excel(xlsx)

## Making sure data is in correct form

When the data does not have the standard format, there can be issues. This tends to happen when the first line of the .csv file is not column names.

For an example, we'll take a look at [a data set of two files on arctic vegetation plots](http://dx.doi.org/10.3334/ORNLDAAC/1358).

In [2]:
environmental_data = data_dir + "Arrigetch_Peaks_Environmental_Data_raw.csv"
environmental_data = "https://raw.githubusercontent.com/ENVS110a-SP23/python/main/data/Arrigetch_Peaks_Environmental_Data_raw.csv"
pd.read_csv(environmental_data)

In [6]:
species_file = data_dir + "/Arrigetch_Peaks_Species_Data_raw.csv"
species_file = "/Users/fordfishman/GitHub/envs110/python/data/Arrigetch_Peaks_Species_Data_raw.csv"

pd.read_csv(species_file)

### Question

For in-class questions, we'll be working with a data set called Gapminder. It is in the `data` subdirectory in this repo as `gapminder.csv`. You can also find it at this stable url: `https://raw.githubusercontent.com/ENVS110a-SP23/python/main/data/gapminder.csv`.

Load this data set and display the first few rows with `.head()`. **Make sure to save it as a different variable name than `df` to make sure you don't overwrite the precipitation and temperature data frame.**

In [ ]:
# your code here

## Summarize data frame

It is important to understand the data we are working with before we begin analysis. First, let's look at the dimenions of the data frame using `df.shape`. It gives the number of rows by the number of columns.

In [8]:
df.shape

(300, 7)

This shows that our data frame has 300 rows by 7 columns.

We can get out those numbers individually through indexing.

In [44]:
print("rows:", df.shape[0])
print("cols:", df.shape[1])

rows: 300
cols: 8

`len(df)` also gets back how many rows you have.

In [82]:
len(df)

300

We can also use `df.columns` to display the column names.

In [13]:
df.columns

Index(['station', 'name', 'date', 'temp', 'diurnal_temp_range', 'precip-total',
       'snow-totals'],
      dtype='object')

## Renaming columns and rows

We can rename as many columns as you want with `df.rename(columns = {old_name:new_name,...})`. 

Note that you need to re-assign to `df` or make a new variable if you want to save the renamed columns.

In [89]:
df.rename(columns={'diurnal_temp_range': 'dtr', 'name':'station_name'})

,station,station_name,date,temp,dtr,precip-total,snow-totals
0,USW00054704,"NORWOOD MEMORIAL AIRPORT, MA US",1,25.9,19.7,3.43,NaN
1,USW00054704,"NORWOOD MEMORIAL AIRPORT, MA US",2,28.9,21.0,3.25,NaN
2,USW00054704,"NORWOOD MEMORIAL AIRPORT, MA US",3,36.4,21.5,4.45,NaN
3,USW00054704,"NORWOOD MEMORIAL AIRPORT, MA US",4,46.8,22.7,4.19,NaN
4,USW00054704,"NORWOOD MEMORIAL AIRPORT, MA US",5,56.4,24.9,3.68,NaN
...,...,...,...,...,...,...,...
295,USC00195984,"NORTON, MA US",8,69.9,23.1,4.04,0.0
296,USC00195984,"NORTON, MA US",9,61.8,23.9,3.99,0.0
297,USC00195984,"NORTON, MA US",10,50.6,22.8,4.39,-7777.0
298,USC00195984,"NORTON, MA US",11,42.0,20.8,4.79,1.5
299,USC00195984,"NORTON, MA US",12,31.8,20.0,4.74,9.7

We can also re-assign row names by saying `index` instead of `columns`. This is more rare, however.

In [94]:
df.rename(index={0: 'first', 1:'second'})

,station,name,date,temp,diurnal_temp_range,precip-total,snow-totals
first,USW00054704,"NORWOOD MEMORIAL AIRPORT, MA US",1,25.9,19.7,3.43,NaN
second,USW00054704,"NORWOOD MEMORIAL AIRPORT, MA US",2,28.9,21.0,3.25,NaN
2,USW00054704,"NORWOOD MEMORIAL AIRPORT, MA US",3,36.4,21.5,4.45,NaN
3,USW00054704,"NORWOOD MEMORIAL AIRPORT, MA US",4,46.8,22.7,4.19,NaN
4,USW00054704,"NORWOOD MEMORIAL AIRPORT, MA US",5,56.4,24.9,3.68,NaN
...,...,...,...,...,...,...,...
295,USC00195984,"NORTON, MA US",8,69.9,23.1,4.04,0.0
296,USC00195984,"NORTON, MA US",9,61.8,23.9,3.99,0.0
297,USC00195984,"NORTON, MA US",10,50.6,22.8,4.39,-7777.0
298,USC00195984,"NORTON, MA US",11,42.0,20.8,4.79,1.5
299,USC00195984,"NORTON, MA US",12,31.8,20.0,4.74,9.7

### Question 

Using the gapminder data frame, print out the column names. Rename the `age5_surviving` and `babies_per_woman` columns to be shorter.

In [ ]:
# your code here:

### Categorical variables
Next, let's summarize the categorical, non-numerical variables. For instance, we can identify how many unique regions we have in the data set.

First, to select a column, we use the notation `df['COLUMN_NAME']`.

In [14]:
df['name']

0      NORWOOD MEMORIAL AIRPORT, MA US
1      NORWOOD MEMORIAL AIRPORT, MA US
2      NORWOOD MEMORIAL AIRPORT, MA US
3      NORWOOD MEMORIAL AIRPORT, MA US
4      NORWOOD MEMORIAL AIRPORT, MA US
                    ...
295                      NORTON, MA US
296                      NORTON, MA US
297                      NORTON, MA US
298                      NORTON, MA US
299                      NORTON, MA US
Name: name, Length: 300, dtype: object

Depending on your column name, you can also refer to the column with `df.column_name` as well.

In [84]:
df.diurnal_temp_range

0      19.7
1      21.0
2      21.5
3      22.7
4      24.9
       ...
295    23.1
296    23.9
297    22.8
298    20.8
299    20.0
Name: diurnal_temp_range, Length: 300, dtype: float64

To identify unique entries in this column, we can use the `pd.unique()` function.

In [16]:
pd.unique( df['name'] )

array(['NORWOOD MEMORIAL AIRPORT, MA US', 'NATICK, MA US',
       'MAYNARD, MA US', 'READING, MA US', 'BLUE HILL LCD, MA US',
       'JAMAICA PLAIN, MA US', 'LAWRENCE, MA US',
       'SOUTH WEYMOUTH NAS, MA US', 'MARBLEHEAD, MA US',
       'MIDDLETON, MA US', 'BRIDGEWATER, MA US', 'GROVELAND, MA US',
       'MILFORD, MA US', 'BROCKTON, MA US',
       'BEVERLY MUNICIPAL AIRPORT, MA US', 'FRANKLIN, MA US',
       'HINGHAM, MA US', 'HAVERHILL, MA US', 'BOSTON, MA US',
       'BEDFORD HANSCOM FIELD, MA US', 'BEVERLY, MA US', 'LOWELL, MA US',
       'WALPOLE 2, MA US', 'LAWRENCE MUNICIPAL AIRPORT, MA US',
       'NORTON, MA US'], dtype=object)

We can also just use the `len()` function to see how many unique values we have.

In [18]:
len( pd.unique( df['name'] ) ) # this is called nesting functions -> calling functions within other functions

25

### Numerical variables

Numerical columns can be summarized in several ways. Let's find the mean first.

To make things simpler, we'll just do calculations on the `population`, `life_expectancy`, and `babies_per_woman` columns. We can put those names in a `list` and then specify that list for the columns.

In [19]:
num_cols = [ 'date', 'temp', 'diurnal_temp_range', 'precip-total','snow-totals' ] # numerical columns

df[num_cols]

     date  temp  diurnal_temp_range  precip-total  snow-totals
0       1  25.9                19.7          3.43          NaN
1       2  28.9                21.0          3.25          NaN
2       3  36.4                21.5          4.45          NaN
3       4  46.8                22.7          4.19          NaN
4       5  56.4                24.9          3.68          NaN
..    ...   ...                 ...           ...          ...
295     8  69.9                23.1          4.04          0.0
296     9  61.8                23.9          3.99          0.0
297    10  50.6                22.8          4.39      -7777.0
298    11  42.0                20.8          4.79          1.5
299    12  31.8                20.0          4.74          9.7

[300 rows x 5 columns]

In [41]:
df.dtypes

station                object
name                   object
date                    int64
temp                  float64
diurnal_temp_range    float64
precip-total          float64
snow-totals           float64
temp_C                float64
dtype: object

In [42]:
df.select_dtypes(include=['int64', 'float64'])

     date  temp  diurnal_temp_range  precip-total  snow-totals     temp_C
0       1  25.9                19.7          3.43          NaN  -3.388889
1       2  28.9                21.0          3.25          NaN  -1.722222
2       3  36.4                21.5          4.45          NaN   2.444444
3       4  46.8                22.7          4.19          NaN   8.222222
4       5  56.4                24.9          3.68          NaN  13.555556
..    ...   ...                 ...           ...          ...        ...
295     8  69.9                23.1          4.04          0.0  21.055556
296     9  61.8                23.9          3.99          0.0  16.555556
297    10  50.6                22.8          4.39      -7777.0  10.333333
298    11  42.0                20.8          4.79          1.5   5.555556
299    12  31.8                20.0          4.74          9.7  -0.111111

[300 rows x 6 columns]

In [43]:
df.select_dtypes(exclude=['object'])

     date  temp  diurnal_temp_range  precip-total  snow-totals     temp_C
0       1  25.9                19.7          3.43          NaN  -3.388889
1       2  28.9                21.0          3.25          NaN  -1.722222
2       3  36.4                21.5          4.45          NaN   2.444444
3       4  46.8                22.7          4.19          NaN   8.222222
4       5  56.4                24.9          3.68          NaN  13.555556
..    ...   ...                 ...           ...          ...        ...
295     8  69.9                23.1          4.04          0.0  21.055556
296     9  61.8                23.9          3.99          0.0  16.555556
297    10  50.6                22.8          4.39      -7777.0  10.333333
298    11  42.0                20.8          4.79          1.5   5.555556
299    12  31.8                20.0          4.74          9.7  -0.111111

[300 rows x 6 columns]

With this set of columns, we can run `.mean()` to find the mean of each column.

In [20]:
df[num_cols].mean() # returns the mean of each column

date                    6.500000
temp                   49.424638
diurnal_temp_range     20.128986
precip-total            4.068467
snow-totals          -384.763333
dtype: float64

If we want a larger variety of summary statistics, we can use the `.describe()` method.

In [21]:
df[num_cols].describe()

            date        temp  diurnal_temp_range  precip-total  snow-totals
count  300.00000  276.000000          276.000000    300.000000   180.000000
mean     6.50000   49.424638           20.128986      4.068467  -384.763333
std      3.45782   15.701830            2.597781      0.464102  1700.634258
min      1.00000   23.600000           13.000000      2.790000 -7777.000000
25%      3.75000   34.675000           18.275000      3.750000     0.000000
50%      6.50000   49.200000           20.200000      4.030000     0.600000
75%      9.25000   64.675000           21.825000      4.390000     9.200000
max     12.00000   74.300000           26.400000      5.580000    18.900000

We can also break down subgroupings of our data with the method `.groupby()`.

In [22]:
grouped_data = df.groupby('name')
grouped_data['temp'].describe()

,count,mean,std,min,25%,50%,75%,max
name,,,,,,,,
"BEDFORD HANSCOM FIELD, MA US",12.0,49.875000,16.572273,26.1,36.200,49.70,63.625,72.9
"BEVERLY MUNICIPAL AIRPORT, MA US",12.0,48.450000,15.964876,26.0,34.825,48.00,62.575,70.4
"BEVERLY, MA US",12.0,47.641667,15.575882,26.2,34.350,47.15,61.125,69.1
"BLUE HILL LCD, MA US",12.0,49.075000,16.792213,25.5,34.450,49.15,63.850,71.9
"BOSTON, MA US",12.0,51.375000,15.970320,29.0,37.400,51.05,65.600,73.4
"BRIDGEWATER, MA US",12.0,49.158333,15.903599,26.6,35.400,48.65,62.750,71.4
"BROCKTON, MA US",12.0,49.091667,15.875679,27.0,35.550,48.55,62.800,71.1
"FRANKLIN, MA US",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"GROVELAND, MA US",12.0,48.066667,16.596842,24.6,33.925,47.90,62.225,70.9
"HAVERHILL, MA US",12.0,47.933333,16.924180,24.1,33.575,47.80,62.600,71.2
"HINGHAM, MA US",12.0,50.591667,15.560934,28.8,37.025,50.25,64.100,72.2
"JAMAICA PLAIN, MA US",12.0,50.375000,16.572602,26.9,36.275,49.95,64.900,73.1
"LAWRENCE MUNICIPAL AIRPORT, MA US",12.0,49.075000,16.572163,25.2,34.975,49.05,63.150,71.8
"LAWRENCE, MA US",12.0,50.158333,16.877013,26.0,35.925,50.15,64.825,72.9
"LOWELL, MA US",12.0,48.375000,17.352292,23.6,33.450,48.20,63.275,72.1
"MARBLEHEAD, MA US",12.0,49.891667,15.664694,27.9,35.950,49.60,63.925,71.3
"MAYNARD, MA US",12.0,49.116667,17.089382,24.8,34.700,49.05,63.650,72.3
"MIDDLETON, MA US",12.0,50.941667,16.239036,27.9,36.675,50.85,65.300,72.9
"MILFORD, MA US",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"NATICK, MA US",12.0,48.600000,16.525407,25.2,34.575,48.25,62.725,71.3
"NORTON, MA US",12.0,49.150000,16.189138,26.5,35.550,48.70,62.850,71.8
"NORWOOD MEMORIAL AIRPORT, MA US",12.0,48.466667,16.009448,25.9,35.100,48.15,61.950,70.8
"READING, MA US",12.0,49.183333,16.359475,26.0,35.250,49.00,63.125,71.7
"SOUTH WEYMOUTH NAS, MA US",12.0,51.950000,15.970968,29.7,38.350,51.70,65.600,74.3
"WALPOLE 2, MA US",12.0,50.225000,16.265475,27.3,36.400,49.95,64.225,72.5

### Question

Using the gapminder data, use `.groupby()` to get summary statistics by region.

In [ ]:
## your code here:

### Accessing rows and specific entries

You can also to access a specific row using `df.loc[ROW, :]`. The colon specifies to select all columns for that row number.

In [23]:
df.loc[0, :] # the first row

station                                   USW00054704
name                  NORWOOD MEMORIAL AIRPORT, MA US
date                                                1
temp                                             25.9
diurnal_temp_range                               19.7
precip-total                                     3.43
snow-totals                                       NaN
Name: 0, dtype: object

We can use `.loc` to find the value of specific entries, as well.

In [24]:
df.loc[0, 'name'] # first row entry for column

'NORWOOD MEMORIAL AIRPORT, MA US'

## for loops

In [53]:
for i in range(len(df)):
    print(df.loc[i,"temp"])

25.9
28.9
36.4
46.8
56.4
65.7
70.8
68.7
60.7
49.5
40.6
31.2
25.2
28.5
35.9
46.5
56.8
66.1
71.3
69.7
61.6
50.0
41.0
30.6
24.8
28.1
36.1
47.6
58.0
67.1
72.3
70.9
62.5
50.5
41.0
30.5
26.0
29.1
36.5
47.1
57.1
66.2
71.7
70.2
62.1
50.9
41.8
31.5
25.5
27.9
35.5
46.7
57.1
66.1
71.9
70.5
63.1
51.6
41.7
31.3
26.9
30.1
37.5
47.7
58.1
67.9
73.1
71.5
63.9
52.2
43.0
32.6
26.0
29.2
37.2
48.1
58.3
67.6
72.9
71.9
63.9
52.2
42.5
32.1
29.7
32.4
39.6
49.1
59.0
68.6
74.3
72.5
64.6
54.3
44.7
34.6
27.9
30.8
36.8
46.5
56.3
65.8
71.3
70.3
63.3
52.7
43.6
33.4
27.9
30.8
37.6
48.2
58.5
67.7
72.9
71.7
64.5
53.5
44.1
33.9
26.6
29.9
36.3
46.1
56.6
65.9
71.4
69.5
61.7
51.2
42.0
32.7
24.6
27.6
35.1
46.2
56.1
65.6
70.9
69.3
61.1
49.6
40.3
30.4
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
27.0
29.6
36.7
46.3
56.2
65.5
71.1
69.9
61.9
50.8
42.0
32.1
26.0
28.8
35.9
45.5
55.4
64.9
70.4
69.2
61.8
50.5
41.4
31.6
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
28.8
31.5
38.0
47.8
57.5
66.8
72.2
70.6
63.2
52.7
43.9
34.1
24.1
26.8
34.8
45.7
55.9
65.3
71.2
69.7
61.7
49.9
40.2
29.9
29.0
31.7
38.3
48.1
57.9
67.7
73.4
72.1
64.9
54.0
44.7
34.7
26.1
29.4
37.7
48.2
57.9
67.0
72.9
71.2
62.5
51.2
42.7
31.7
26.2
28.0
35.4
45.0
54.6
63.6
69.1
68.2
60.3
49.3
40.8
31.2
23.6
27.1
34.6
46.4
57.1
66.5
72.1
70.5
62.2
50.0
40.4
30.0
27.3
30.4
37.7
48.1
58.2
67.3
72.5
71.1
63.2
51.8
42.6
32.5
25.2
28.8
36.2
47.3
57.1
66.3
71.8
70.3
62.1
50.8
41.7
31.3
26.5
28.9
36.8
46.8
56.9
66.0
71.8
69.9
61.8
50.6
42.0
31.8

In [55]:
for col in df.columns:
    
    print(df.loc[0,col])

USW00054704
NORWOOD MEMORIAL AIRPORT, MA US
1
25.9
19.7
3.43
nan
-3.3888888888888897

### Math

If we multiply a data frame by a single number, each value in the column will be muliplied by that value.

We can turn this into a new column by assigning to `df['new_col_name']`.

In [36]:
df['temp_C'] = (df['temp'] - 32) * (5/9)
df.temp_C

0      -3.388889
1      -1.722222
2       2.444444
3       8.222222
4      13.555556
         ...
295    21.055556
296    16.555556
297    10.333333
298     5.555556
299    -0.111111
Name: temp_C, Length: 300, dtype: float64

Numpy functions work very well with numerical columns.

In [51]:
import numpy as np

np.log10(df.temp)

0      1.413300
1      1.460898
2      1.561101
3      1.670246
4      1.751279
         ...
295    1.844477
296    1.790988
297    1.704151
298    1.623249
299    1.502427
Name: temp, Length: 300, dtype: float64

This new column is now reflected in the data frame.

In [40]:
print(df.columns)

Index(['station', 'name', 'date', 'temp', 'diurnal_temp_range', 'precip-total',
       'snow-totals', 'temp_C'],
      dtype='object')

We can also do math between columns, since they have the same length. Elements of the same row are added, substacted, multiplied, or divided.

In [39]:
df['temp'] - df['diurnal_temp_range']

0       6.2
1       7.9
2      14.9
3      24.1
4      31.5
       ...
295    46.8
296    37.9
297    27.8
298    21.2
299    11.8
Length: 300, dtype: float64

In [44]:
### Your code here:

### Create your own data frame

To make your own data frame without a .csv, we use the function `pd.DataFrame()`. There are many ways to use this function to construct a data frame. 

Here, we show how to convert a dictionary of lists into a data frame. Each list will be its own column, and you need to make sure the lists are all the same length. The keys of each list should be the column names.

In [45]:
data_dict = {
    'a': [1, 3, 5],
    'b': ['apple', 'banana', 'apple'],
    'c': [-2., -3., -5.]
}

pd.DataFrame(data_dict)

   a       b    c
0  1   apple -2.0
1  3  banana -3.0
2  5   apple -5.0

You can also use lists of lists or 2D NumPy arrays to create data frames. Each list will be a row, instead of a column, and you will need to specify the column name as another argument in `pd.DataFrame()` called `columns`.

In [46]:
data_list = [
    [1, 'apple', -2.],
    [3, 'banana', -3.],
    [5, 'apple', -5.]
]
pd.DataFrame(data_list, columns=['a', 'b', 'c'])

   a       b    c
0  1   apple -2.0
1  3  banana -3.0
2  5   apple -5.0

Note: we need to save this as a variable to use it in the future.

### Export data frame as .csv

If you have made modifications to a data set in Python and want to export that to a new .csv, you can easily do that with the `.to_csv()` method that all pandas data frames have.

In [55]:
my_df = pd.DataFrame(data_list, columns=['a', 'b', 'c'])

my_df.to_csv('fruits.csv', index=False) # index = False makes sure row names are not saved as their own columns

#### Question: Putting it together

In assignment 2, we moved information gathered from some researchers into a nested data structure. Instead, transfer these data into a Pandas dataframe. Display the data frame, and export it as a .csv file.

As a reminder, each list is in the same order as the researchers name -> all of Haley McCann's data is at index `0`.

In [ ]:
researchers = ['Haley McCann', 'Siena Welch', 'Jaylin Mercado', 'Ismael Hayden', 'Nina Bright']

temperatures = [29.75, 12.63, 31.58, 7.16, 32.51]

populations = [442, 336, 505, 913, 933]

dates = ['5/25/2022','3/18/2022','6/28/2022','11/11/2022','7/6/2023']

### Your code here:

## Resources

- [NumPy docs](https://numpy.org/doc/stable/index.html)
- [NumPy getting started](https://numpy.org/doc/stable/user/quickstart.html)
- [Random samples with NumPy](https://numpy.org/doc/stable/reference/random/index.html)
- [Pandas docs](https://pandas.pydata.org/docs/)
- [Pandas getting started](https://pandas.pydata.org/docs/getting_started/index.html#getting-started)
- [Pandas cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
- [PySpark for big data](https://spark.apache.org/docs/latest/api/python/)

This lesson is adapted from 
[Software Carpentry](http://swcarpentry.github.io/python-novice-gapminder/design/).